.Sale_container{
   margin-left: 5%;
   margin-right: 5%;
}

.Products{
    background-color: white;
    display: flex;
    gap : 20px;
    padding: 10px;
}

img {
    width: 170px;
}

.product-price{
    color: orangered;
}

.product-discounted-price{
    text-decoration: line-through;
    font-size: 12px;
    color: grey;
}

.product-card2,.product-card1,.product-card3,.product-card4,.product-card5{
   flex:1;
}

.product-card1:hover ,.product-card2:hover ,.product-card3:hover , .product-card4:hover ,.product-card5:hover ,.product-card6:hover {
    box-shadow: 0 0 10px rgba(131, 128, 128, 0.5);
  }

  .container2{
   display: flex;
   background-color: white;
   border-bottom: 2px solid black; 
   gap:80%;
   padding: 5px;
  }
  .Div_title{
    color: orangered;
}

.container2 button{
    color: orangered;
    border: solid  orangered;
    background-color: white;
}