html {
  background-color: rgb(236, 236, 236);
}

.nav {
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  border-radius: 2px;
  padding: 5px;
  font-size: 15px;
  color: black;
}

li {
  padding-top: 10px;
}

.Heading {
  margin-left: 5%;
}

.display_image {
  border-radius: 20px;
  width: 80%;
  max-width: 100%;
  height: auto;
  margin-left: 10%;
  margin-top: 3%;
  background-color: rgb(236, 229, 229);
}
