.NavBar1 {
  background-color: rgb(240, 240, 240);
  padding: 5px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding-left: 25%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

.navbar-list li {
  padding: 0;
}

.Save_on_app {
  color: rgb(255, 81, 0);
}

.NavBar2 {
  display: flex;
  background-color: rgb(255, 255, 255);
  margin-top: 2%;
  padding: 15px;
  width:100%
}

form {
  margin-left: 5%;
}

input {
  padding: 14px;
  width: 550px;
  background-color: rgb(240, 240, 240);
}

button {
  padding: 12px;
  background-color: rgb(255, 81, 0);
}

.button_image {
  width: 20px;
  height: 14px;
}

.nav-logo {
  width: 150px;
  height: 40px;
  margin-left: 50px;
}

.cart-logo {
  width: 45px;
  height: 45px;
  margin-left: 20px;
  padding-top: 15px;
}

.App-logo {
  width: 200px;
  height: 50px;
  margin-left: 40px;
}

.dropbtn {
  background-color: #ffffff;
  color: rgb(14, 13, 13);
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown_Menu {
  margin-left: 40%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 4%;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #fffdfd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #fafafa;
}



 